*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, rgb(190, 57, 202), rgb(57, 202, 190));
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.hr{
    color: white;
}